<h1>{{title}}</h1>
<div>
    <p>Hello my name is Chris Udey, I am a very passionate and hardworking individual. I was born and raised in Prince Albert,  </p>
    but I quickly moved to saskatoon after graduation and made saskatoon my home for the past 12 years.
    I acquired a diploma for Hotel and Restaurant Management. After two years of school I spent 8 months in Vancouver working at a
    prestigious golf and country club where I acquired more management skills. When I came back to saskatoon I quickly found a job managing
    two restaurants for which I did for 6 months. At this point I realized the food industry was not where my passion was, so taking a step
    back to reflect and try something different. I worked in a variety of roles in Customer Service positions quickly rising to a management role.
    I love to learn, so I decided to go back to school for a <i>Court Services Administration</i>. With this certificate I started working closely
    with some vulnerable youth in the Public School system. I worked with in Behaviour program, helping struggling youth get back on track
    and helping them build regulation strategies and the importance of school. I spent three years helping a range of different youth with
    equally challenging situations. I built very strong connections with my peers and the youth I was working with. It was a very mentally
    taxing position and knew I wouldn't be able to do this position forever. So I evaluated again what some of my passions in life were, and
    see if there was something I could make a career from. I have always had a love of technology and have made some close connections
    online through online-gaming. This sparked the idea of going into the route of pursuing this interest, where I found the
    <i>Computer System Technology</i> program at Saskatchewan Polytechnic. A huge factor that played into my career change was my Wife Erin.
    We both wanted a family and from there I knew that I need a career that would help support that dream. While my first year at CST, my daughter
    Calista was born on January 26, 2025. Giving me that extra edge and motivation to excel in my future career.
</div>
<div>

</div>
<div class="row mt-5">
<div class="col-md-3">
    <div class="card">
        <div class="card-body text-center">
            <a href="/" class="btn btn-secondary">← Back to Home</a>
        </div>
    </div>
</div>
</div>