<h1>{{title}}</h1>
<div>
    <p>Hello my name is Chris Udey, I am a very passionate and hardworking individual. I was born and raised in Prince Albert,  </p>
    but I quickly moved to saskatoon after graduation and make saskatoon my home for the past 12 years.
</div>

<a href="/" class="btn btn-secondary">â† Back to Home</a>