<h1>{{title}}</h1>
<div>
    <ul>
        <li>Phone Number: 1-306-940-9920</li>
        <li>Email Address: ChrisUdey@gmail.com</li>
        
    </ul>

</div>

<a href="/" class="btn btn-secondary">â† Back to Home</a>