<h1>{{title}}
    <div>
        <ul>
            <li>First project: </li>
            <li>Second project: </li>
            <li>Third project: </li>
        </ul>
    </div>
<a href="/" class="btn btn-secondary">← Back to Home</a>